.container{
    display:  grid;
    min-height: auto;
    flex-direction: column;  
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.25rem;      
}
 /*
.containerSearch{
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-left: 28%;
   margin-left: 15.625rem; 
   
    transform: translateX(-24%);   
}
*/


@media (min-width: 1024px){
    .container{
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        margin-left: 15.625rem;    
    } 
    .containerSearch{
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-left: 28%;
        /*margin-left: 15.625rem;*/ 
        transform: translateX(-24%);    
    }
}
.Search2IconLabel{
    position: absolute;
    right: 1px;
    width: 2rem;
    top: 16px;
    bottom: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;

}
/*
.Slider{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;  
}
.Slide{
    width: 100%;
    height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    
}
%btn-styles{
    position: absolute;
    width: 100px;
    height: 5% ;
    transform: translateY(-0%);  
    align-items: center;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    
    &:hover{
        background: rgba(0,0,0,0.356);
        height: 10% ;
        border-radius: 5%;
        cursor: pointer;
        div{
            color: white;  
        }
    }
}
#goLeft{
    left: 20px;
    @extend %btn-styles;
    
}
#goRight{
    right: 50.2%;
    @extend %btn-styles;
}
#expandSlider{
    @extend %btn-styles;
    right: 50.2%;
    margin-top: 110px;

}

.span-goRight{
    width: 100px;
    transform: translateY(-0%);  
    align-items: center;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    margin-top: 80px;
   
}
.span-expandSlide{
    width: 100px;
    transform: translateY(-0%);  
    align-items: center;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    margin-top: 110px;
}
span{
    position: absolute;
    width: 100px;
    height: 10% ;     
}
.span-goLeft{
    width: 100px;
    height: 10% ;
    transform: translateY(-0%);  
    align-items: center;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;   
}


@media (max-width: 414px){
    .container{
        min-height: 100vh;
        display:  flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;    
    }
    
}

@media (max-width: 360px){
    .container{
        padding: 50px 0;  
    } 
   
}

@media (max-width: 320px){
    .container{
        min-height: 100vh;
        display:  flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
   

}


@media (max-width: 319px){
    .container{
        min-height: 100vh;
        display:  flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }

}

*/




