.class-PerfilUser{
    display: flex;
    width: 28.125rem;
    height: 25rem;
    background-color:white;     
    border-radius: 8px;
    flex-direction: column; 
    padding: 10px 10px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1),
     0 -5px 10px rgba(0, 0, 0, 0.1),
     0 5px 10px rgba(0, 0, 0, 0.1);           
 }
 .Dark-light-and-perfil{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
.account-perfil{
    margin-top: 10px;
}
.Dark-light{
    display: inline-block;
    width: 100%;
    justify-content: end;
    align-items: center;   
}
input[type="checkbox"]{
    -webkit-appearance: none;
    position: absolute;
    border: none;
    margin-left: 20px;
    width: 15px;
    height: 15px;
}
.check{
    width: 60px;
    display: block;
    position: relative;
    height: 30px;
    border-radius: 30px;
    background: #521751;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;    
}

.check::before{
    position: absolute;
    content: '';
    top:3px;
    left: 4px;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    transition:0.5s;
}


input[type="checkbox"]:checked ~ .check::before{
    transform: translateX(30px);
    background: #fff;
}
.button-class-ChangePassword {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    

 }

.button-class-ChangePassword button{
    width: 50%;
    margin-top:10px;  
    height: 2.5rem;
    background: #521750;
    border: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    border-radius: 0.5rem;
    padding: 0 1.5rem; 

 }

