.side-drawer{
    width: 15rem;
    position: fixed;
    height: 100%;
    background:#521751;
    top:3.775rem;
    left: 0;
    /*background: white;*/
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}
.side-drawer.open{
    transform: translateX(0);
}
.side-drawer ul{
    list-style: none;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(88, 88, 88, 0.466);
    flex-direction: column;
    justify-content: center;
    padding-left: 0.625rem;
}
.side-drawer li{
    margin: 0.5rem 0;
}
.side-drawer ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 1.25rem;
    padding-left: 0.625rem;
    /*color:#521751;*/
    color:#fff;
    text-decoration: none;
    font-size: 1rem;
}
.side-drawer a:hover{
    color:#fa923f
}

.side-drawer a:active{
    color:#fa923f
}

@media (min-width:769px) {
    .seide-drawer{
        display: none;
    }

}