.login-container{
    width: 28.125rem;
    margin-top:6rem;
    height: 28.125rem; 
    margin-left: auto;
    margin-right: auto;
    background-color:white; 
   
    border-radius: 8px;
    padding: 0 1.5rem;             
}
.login-container div.class-icon-login h1{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
}
.login-container div.class-email{
    display: flex;
    margin-top: 0.625rem;
    align-items: center;
    justify-content: center;
}

.login-container div.class-password {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

}
.class-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.625rem;
    
}
.login-container div.button-class {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  

}
.login-container div.button-class button{
    width: 50%;
    height: 2.5rem;
    background: #521750;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    margin-top: 1.25rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 2.5rem;
    transition: filter 0.2s;
    cursor: pointer;

}
.login-container div.button-class button:hover{
    filter: brightness(80%);
}


.siginup-link {
    display: flex;
    margin-left: inherit;

    font-size: 1rem;
    margin-bottom: 0.625rem;
    text-decoration: none;
    color: #521750;
    transition: opacity 0.2s;

}
.siginup-link :hover {
    opacity: 0.8s;

}

.Ainda-não-possui-conta{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    transition: opacity 0.2s;

}
.class-link-forgot  {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    transition: opacity 0.2s;
}
.class-link-forgot a{
    text-decoration: none;
    color: #521750;
}
.class-link-forgot  a:hover {
    opacity: 0.8s;
}

form input{
    width: 100%;
    height: 3rem;
    color:#333;
    border: 1px solid #dcdce6;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
}

.back-link svg {
    margin-right: 0.5rem;


    
}
