.Evento-card{
    display: flex;  
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px 10px;
    
    box-shadow: 5px 0 3px rgba(0, 0, 0, 0.1),
     0 -3px 5px rgba(0, 0, 0, 0.1),
     0 3px 5px rgba(0, 0, 0, 0.1); 
   
}
.btn-Delete{
    background-color:transparent;
    border:none; 

}
.Evento-card-P{
    color: darkgray;
    display: flex;
    width: 100%; 
    align-items: flex-start;
    justify-content: flex-start; 
    cursor: pointer;}


.title-hotel {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.title-hotel h1{
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1;
    text-transform: uppercase;
}
.title-hotel h2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
    margin-right: 10px;
    line-height: 1;
    text-transform: uppercase;
}
.title-hotel h2 span{
    cursor: pointer;
}

.class-content-event{
    display: flex;
    width: 100%;  
}
.class-content-p{
    display: flex;
    transition: 0.05;
    width: 100%;  
}
.class-content-event p{
    max-width: 200ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.event-data-detalhes{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.lembret-class{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;   
}
.definir_or_remover_lembrte{
    display: flex;
    width: 30%;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    background: #521751;
    cursor: pointer;
    color: #fff;
}
.definir_or_remover_lembrte span{
    margin-left: 5px;
    
}




        
 


