.uploadImg{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    
    
  }
#UploadImgPerfil{
    width: 80%;
    height: 100%;
    background: #521750;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    
    transition: filter 0.2s;
    cursor: pointer;
  }
#inputButtonImg{
  filter: brightness(80%);
  border: 0
  
}
#UploadImgPerfil :hover{
    filter: brightness(80%);
}