@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    padding-top: 3.75rem;
    justify-content: center;
    justify-items: center;
    /*background:white;*/
    font-family: Roboto, sans-serif;
}
button { 
    cursor: pointer;
}
@media(max-width:1080px){
    html{
        font-size: 93.75%;
    }
    
}
@media(max-width:720px){
    html{
        font-size: 85.5%;
    }
}
@media(max-width:614px){
    html{
        font-size: 74.5%;
    }
}
@media(max-width:511px){
    html{
        font-size: 68.5%;
    }
}

@media(max-width:414px){
    html{
        font-size: 56.1%;
    }
}
@media(max-width:375px){
    html{
        font-size: 53.5%;
    }
}
@media(max-width:360px){
    html{
        font-size: 51.8%;
    }
}
@media(max-width:320px){
    html{
        font-size: 45.1%;
    }
}

textarea{
    font: 400 14px Roboto, sans-serif;

}
form textarea{
    width: 100%;
    min-height: 140px;
    resize: vertical;
    color:#333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px; 
 }


